# Copyright (C) 2019 NIWA & British Crown (Met Office) & Contributors.
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
---
cache: pip
dist: xenial
addons:
  apt:
    update: true  # instruct travis-ci to always run apt-get before each build

language: python
python: 3.7

before_install:
  - pip install pycodestyle
  - pycodestyle --exclude=".git,.tox,__pycache,venv,.eggs,build,jupyterhub_config.py,cylc/uiserver/tornado.py"
install:
  - pip install .[all]
script:
  - python setup.py test
after_success:
  # Report metrics, such as coverage
  - coverage xml --ignore-errors
  - bash <(curl -s https://codecov.io/bash)
