name: Test

on:
  pull_request:
  workflow_dispatch:
  push:
    branches:
      - master
      - '*.*.x'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  FORCE_COLOR: 2

defaults:
  run:
    shell: bash -c "exec $CONDA_PREFIX/bin/bash -elo pipefail {0}"

jobs:
  test:
    runs-on: ${{ matrix.os }}
    timeout-minutes: 15
    strategy:
      fail-fast: false
      matrix:
        os: ['ubuntu-latest']
        python-version: ['3.12', '3']
        include:
          - os: 'macos-latest'
            python-version: '3.12'  # oldest supported
    env:
      PYTEST_ADDOPTS: --cov --color=yes

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Patch DNS
        uses: cylc/release-actions/patch-dns@v1

      - name: Install System Dependencies
        uses: mamba-org/setup-micromamba@v2
        with:
          cache-environment: true
          post-cleanup: 'all'
          environment-name: cylc-uiserver
          create-args: >-
            python=${{ matrix.python-version }}
            pip
            bash
            coreutils

      - name: install cylc-flow
        uses: cylc/release-actions/install-cylc-components@v1
        with:
          cylc_flow: true
          cylc_flow_opts: ''
          editable_installations: true

      - name: bodge
        run: |
          # This is a bodge to make this branch work before companion branches
          # merged:
          pip install -e git+https://github.com/wxtim/cylc@feat.cylc-review#egg=cylc-flow --no-deps

      - name: install cylc-uiserver
        run: |
          pip install -e .[all]

      # - name: Style test
      #   if: startsWith(matrix.os, 'ubuntu')
      #   run: flake8 cylc/uiserver/* tests/unit/* tests/integration/*

      # - name: Type checking
      #   if: startsWith(matrix.os, 'ubuntu')
      #   run: mypy

      # - name: Check changelog
      #   uses: cylc/release-actions/towncrier-draft@v1

      # - name: Test
      #   run: pytest

      - name: Cylc Review tests
        id: review_tests
        run: |
          CONF_PATH="$HOME/.cylc/flow/8"
          mkdir -p "$CONF_PATH"
          touch "$CONF_PATH/global.cylc"
          ln -s "$CONF_PATH/global.cylc" "$CONF_PATH/global-tests.cylc"

          cat >> "$CONF_PATH/global.cylc" <<__HERE__
          [platforms]
            [[_local_background_indep_tcp]]
              hosts = localhost
              install target = localhost
              ssh command = ssh -oBatchMode=yes -oConnectTimeout=8 -oStrictHostKeyChecking=no
          __HERE__

          # Check that Cylc Review is ready to run
          # (We're only interested if it emits an error):
          cylc review --help > /dev/null || exit 1

          # Run tests on Cylc Review
          export CYLC_COVERAGE=1
          ./etc/bin/run-functional-tests

      - name: Debug
        if: failure() && steps.review_tests.outcome == 'failure'
        timeout-minutes: 1
        run: |
          find "$HOME/cylc-run" -name '*.err' -type f \
            -exec echo \; -exec echo '====== {} ======' \; -exec cat '{}' \;
          find "$HOME/cylc-run" -name '*.log' -type f \
            -exec echo \; -exec echo '====== {} ======' \; -exec cat '{}' \;
          find "${TMPDIR:-/tmp}/${USER}/cylctb-"* -type f \
            -exec echo \; -exec echo '====== {} ======' \; -exec cat '{}' \;

      - name: Coverage report
        run: |
          echo pwd:
          pwd
          echo ls:
          ls
          coverage combine --append src/cylc-flow
          coverage xml --ignore-errors
          coverage report

      - name: Upload coverage artifact
        uses: actions/upload-artifact@v5
        with:
          name: coverage_${{ matrix.os }}_py-${{ matrix.python-version }}
          path: coverage.xml
          retention-days: 4

  codecov:
    needs: test
    runs-on: ubuntu-latest
    timeout-minutes: 2
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Download coverage artifacts
        uses: actions/download-artifact@v6

      - name: Codecov upload
        uses: codecov/codecov-action@v5
        with:
          name: ${{ github.workflow }}
          fail_ci_if_error: true
          verbose: true
          # Token not required for public repos, but avoids upload failure due
          # to rate-limiting (but not for PRs opened from forks)
          token: ${{ secrets.CODECOV_TOKEN }}
