name: Test

on:
  pull_request:
  workflow_dispatch:
  push:
    branches: [master]

jobs:
  test:
    runs-on: ${{ matrix.os }}
    timeout-minutes: 15
    strategy:
      matrix:
        os: ['ubuntu-latest']
        python: ['3.7', '3.8', '3.9']
        include:
          - os: 'macos-latest'
            python: '3.7'
    env:
      PYTEST_ADDOPTS: --cov --color=yes

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Brew Install
        if: startsWith(matrix.os, 'macos')
        run: |
          # install system deps
          brew update
          brew install bash coreutils

          # add GNU coreutils to the user PATH
          # (see instructions in brew install output)
          echo \
            "$(brew --prefix)/opt/coreutils/libexec/gnubin" \
            >> "${GITHUB_PATH}"

          # add coreutils to the bashrc too (for jobs)
          cat >> "${HOME}/.bashrc" <<__HERE__
          PATH="$(brew --prefix)/opt/coreutils/libexec/gnubin:$PATH"
          export PATH
          __HERE__

      - name: Setup Python
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python }}

      # NOTE: Install cylc-uiserver in editable mode for correct coverage results
      - name: Install cylc-uiserver & dependencies
        run: |
          pip install git+https://github.com/cylc/cylc-flow@master
          pip install -e .[all]

      - name: (Debug - pip list)
        run: pip list --format=freeze

      - name: Style test
        run: flake8

      - name: Type checking
        run: mypy

      - name: Test
        run: pytest

      - name: Coverage report
        run: |
          coverage xml --ignore-errors
          coverage report

      - name: Codecov upload
        uses: codecov/codecov-action@v3
        with:
          name: '${{ matrix.os }} py-${{ matrix.python }}'
          fail_ci_if_error: false
